@import "tailwindcss";
@plugin "daisyui";

.card{
   border: 1px solid rgb(176, 21, 21);
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 20px;
   align-items: center;
   justify-content: center;

}